@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  :root {
    --background: 208 48% 40%; /* #3A73A8 */
    --foreground: 0 0% 100%;   /* #FFFFFF */

    --card: 208 48% 45%;       /* A slightly lighter blue than background */
    --card-foreground: 0 0% 100%;

    --popover: 208 48% 25%;
    --popover-foreground: 0 0% 100%;

    --primary: 208 49% 36%;   /* #2F5E8A */
    --primary-foreground: 0 0% 100%;

    --secondary: #5C8FC0; /* #5C8FC0 */
    --secondary-foreground: 0 0% 100%;

    --muted: 208 48% 56%;
    --muted-foreground: 0 0% 85%; /* #D9D9D9 is a bit darker than #F2F2F2 for better visibility on some components */

    --accent: 208 49% 36%;       /* #2F5E8A for hover */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 208 48% 48%;
    --input: 208 48% 48%;
    --ring: 208 48% 56%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
