@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  :root {
    /* Cores baseadas no Azul Soure #3A73A8 */
    --background: 209 49% 44%; /* #3A73A8 */
    --foreground: 0 0% 100%;   /* #FFFFFF */

    --card: 209 49% 48%;       /* Um azul levemente mais claro para cards */
    --card-foreground: 0 0% 100%;

    --popover: 209 49% 25%;
    --popover-foreground: 0 0% 100%;

    --primary: 209 49% 36%;   /* #2F5E8A - Azul mais escuro para destaque */
    --primary-foreground: 0 0% 100%;

    --secondary: 210 46% 56%; /* #5C8FC0 - Azul médio */
    --secondary-foreground: 0 0% 100%;

    --muted: 209 40% 60%;
    --muted-foreground: 209 20% 90%;

    --accent: 209 49% 36%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 209 40% 50%;
    --input: 209 40% 50%;
    --ring: 209 49% 36%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
